  = form_with url: root_path, method: :get, local: true do |f|
    = f.select :age_want, options_for_select({ "0歳" => "0", "1歳" => "1","2歳" => "2","3歳" => "3","4歳" => "4","5歳" => "5","6歳" => "6","7歳" => "7","8歳" => "8","9歳" => "9","10歳" => "10","11歳" => "11","12歳" => "12","13歳" => "13","14歳" => "14","15歳" => "15","16歳" => "16","17歳" => "17","18歳" => "18", })
    = f.submit '検索'
